.o_web_client {
    .mis_builder_amount {
        text-align: right;
    }

    .mis_builder_collabel {
        text-align: center;
    }

    .mis_builder_rowlabel {
        text-align: left;
    }

    .mis_builder {
        a {
            // we don't want the link color, to respect user styles
            color: inherit;

            &:hover {
                // underline links on hover to give a visual cue
                text-decoration: underline;
            }
        }
    }
}

/* style for the control panel (search box and buttons) */

.oe_mis_builder_report_wide_sheet {
    max-width: 100% !important;
}

.oe_mis_builder_cp {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;

    .oe_mis_builder_cp_left {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .oe_mis_builder_cp_right {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        max-width: 1280px;

        &_top {
            display: flex;
            flex-direction: row;
        }

        &_bottom {
            display: flex;
            flex-direction: row;
        }

        .oe_mis_builder_filter_buttons {
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
        }

        .oe_mis_builder_action_buttons {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }

    .oe_mis_builder_cp_right_top_right {
        display: flex;
        flex-direction: row;
    }
}

.oe_mis_builder_dropdown {
    overflow: visible !important;
}

.oe_mis_builder_footnote {
    font-size: 70%;
    color: red;
    position: relative;
    bottom: 1ex;
    width: 1em;
    display: inline-block;
    padding-right: 1px;
}
.oe_mis_builder_footnote_div {
    padding-top: 1em;
}

.oe_mis_builder_footnote_table {
    list-style: none;
    white-space: pre-wrap;
    display: inline-block;

    td {
        vertical-align: top;
    }
}
