.mis_table {
    display: table;
    width: 100%;
    table-layout: fixed;

    .mis_row {
        display: table-row;
        page-break-inside: avoid;
        border-color: grey;
        border-bottom: 1px solid lightGrey;
    }

    .mis_cell {
        display: table-cell;
        page-break-inside: avoid;

        &.mis_collabel {
            font-weight: bold;
            background-color: #f0f0f0;
            text-align: center;
        }

        &.mis_rowlabel {
            text-align: left;
            /* white-space: nowrap; */
        }

        &.mis_amount {
            text-align: right;
        }
    }

    &,
    .mis_row {
        border-left: 0;
        border-right: 0;
        text-align: left;
        padding: 2px 3px;
        border-collapse: collapse;
    }
}

.mis_thead {
    display: table-header-group;
}

.mis_tbody {
    display: table-row-group;
}

.oe_mis_builder_footnote {
    font-size: 70%;
    color: red;
    position: relative;
    bottom: 1ex;
    width: 1em;
    display: inline-block;
    padding-right: 1px;
}
.oe_mis_builder_footnote_div {
    padding-top: 1em;
}

.oe_mis_builder_footnote_table {
    list-style: none;
    white-space: pre-wrap;
    display: inline-block;

    td {
        vertical-align: top;
    }
}
